
.label-title {
    position: relative;
    z-index: 1000;
    top: 25px;
    left: 15px;
    color: #939393;
}

.ant-input {
    border-radius: 8px;
    height: 55px;
    padding: 30px 20px 15px 15px;
    font-size: 1.15rem;
    font-weight: 400;
}